.calculator {
    width: 250px;
    margin: 50px auto;
    border: 1px solid #080808;
    padding: 10px;
    border-radius: 5px;
   
}

#display {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 10px;
    font-size: 18px;
}
body{
    margin: 0;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right ,white,rgb(30, 189, 203));
}
